e2e-tests/features/debug.feature
.vscode/
aero-debug.log
aero-deploy.tar.gz
log/
.tmp
tmp
.DS_Store
typings
dist
app/**/*.js
app/**/*.map
node_modules*/*
coverage
jspm_packages
bower_components
Gemfile*
.idea/
