<section id="submenu">
    <app-user-header id="main-submenu-links">
    </app-user-header>
</section>
<div id="page-common">
    <main>
        <form #user_pass_form="ngForm" class="common-form reduced-top">
            <div class="row">
                <div class="medium-6 columns">
                    <div class="form-field">
                        <label class="icon-lock">
                            CURRENT PASSWORD *</label>
                        <input id="curr_pass" type="password" placeholder="Enter your password"
                               [(ngModel)]="curr_password" name="curr_pass" #curr_pass="ngModel" required>

                        <span *ngIf="curr_pass.touched &&  (!curr_pass.errors?.required && curr_pass.errors?.rangeLength);"
                              class="inline-icon inline-icon-valid valid"></span>
                        <span *ngIf="curr_pass.touched && (curr_pass.errors?.required || curr_pass.errors?.rangeLength);"
                              class="inline-icon error">
									<span>Minimum 6 characters required.</span>!</span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="medium-6 columns">
                    <div class="form-field">
                        <label class="icon-lock">
                            NEW PASSWORD *</label>
                        <input id="pass" type="password" placeholder="Enter your password" [(ngModel)]="new_password"
                               name="password" #password="ngModel" required>

                        <span *ngIf="password.touched &&  (!password.errors?.required && password.errors?.rangeLength);"
                              class="inline-icon inline-icon-valid valid"></span>
                        <span *ngIf="password.touched && (password.errors?.required || password.errors?.rangeLength);"
                              class="inline-icon error">
									<span>Minimum 6 characters required.</span>!</span>
                        <span *ngIf="new_password === curr_pass"
                              class="inline-icon error">
									<span>The password cannot be same as old password</span>!</span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="medium-6 columns">
                    <div class="form-field">
                        <label class="icon-lock">
                            NEW CONFIRM PASSWORD *</label>
                        <input id="certainPassword" name="certainPassword" type="password"
                               placeholder="Confirm password" [(ngModel)]="confirm_password" name="certainPassword"
                               #certainPassword="ngModel" [equalTo]="password" required>
                        <span *ngIf="certainPassword.touched && (!certainPassword.errors?.required && !certainPassword.errors?.equalTo);"
                              class="inline-icon inline-icon-valid valid"></span>
                        <span *ngIf="certainPassword.touched && (certainPassword.errors?.required || certainPassword.errors?.equalTo);"
                              class="inline-icon error">
					 				<span>Minimum 6 characters required.</span>!</span>
                    </div>
                </div>
            </div>

            <section class="actions">
            </section>
            <section>
                <button name="edit_password"
                        (click)="editUser(user_pass_form)"> SAVE
                </button>
                <span *ngIf="curr_password !== '' && new_password === curr_password"
                      class="inline-icon error">
					 				<span>Password cannot be same as old password</span>!</span>
            </section>
        </form>
    </main>
</div>
