<footer class="payroll-card__footer common-form" ngForm="payrollTimeFields" #payrollTimeFields="ngForm">
    <div class="payroll-card__measure">
        <span class="payroll-card__measure-name">Inter. time*</span>
        <div class="form-field">
            <input type="text" name="{{(isClient ? 'client_' : 'interpreter_') + 'interpreterTime_' + index}}" #interpreterTime="ngModel" [readonly]="isReadOnly"
                   [placeholder]="interpTimePlaceHolder" class="payroll-card__measure-input" [(ngModel)]="payrollInvoice.interpreting_time" pattern="(\d+|\d+(\.|\:)\d+)">
            <span *ngIf="interpreterTime.touched && (interpreterTime.errors?.pattern);"
                   class="inline-icon error">
                   <span>Oops! Only numerical values, "." and ":" are allowed.</span>!
            </span>
        </div>
    </div>
    <div class="payroll-card__measure">
        <span class="payroll-card__measure-name">Prep. time</span>
        <div class="form-field">
            <input type="text" name="{{(isClient ? 'client_' : 'interpreter_') + 'prepTime_' + index}}" #prepTime="ngModel" [readonly]="isReadOnly"
                   [placeholder]="prepTimePlaceHolder" class="payroll-card__measure-input" [(ngModel)]="payrollInvoice.preparation_time" pattern="(\d+|\d+(\.|\:)\d+)">
            <span *ngIf="prepTime.touched && (prepTime.errors?.pattern);"
                   class="inline-icon error">
                   <span>Oops! Only numerical values, "." and ":" are allowed.</span>!
            </span>
        </div>
    </div>
    <div class="payroll-card__measure">
        <span class="payroll-card__measure-name">KM*</span>
        <div class="form-field">
            <input type="text" name="{{(isClient ? 'client_' : 'interpreter_') + 'kiloMeters_' + index}}" #kiloMeters="ngModel" [readonly]="isReadOnly || !(isClient ? payrollInvoice.charge_travel : payrollInvoice.pay_travel)"
                   [placeholder]="kmPlaceHolder" class="payroll-card__measure-input" [(ngModel)]="payrollInvoice.distance" pattern="(\d+|\d+(\.|\:)\d+)">
            <span *ngIf="kiloMeters.touched && (kiloMeters.errors?.pattern);"
                   class="inline-icon error">
                   <span>Oops! Only numerical values, "." and ":" are allowed.</span>!
            </span>
        </div>
    </div>
    <div class="payroll-card__measure">
        <span class="payroll-card__measure-name">Travel time*</span>
        <div class="form-field">
            <input type="text" name="{{(isClient ? 'client_' : 'interpreter_') + 'travelTime_' + index}}" #travelTime="ngModel" [readonly]="isReadOnly || !(isClient ? payrollInvoice.charge_travel : payrollInvoice.pay_travel)"
                   [placeholder]="travelTimePlaceHolder" class="payroll-card__measure-input" [(ngModel)]="payrollInvoice.travel_time" pattern="(\d+|\d+(\.|\:)\d+)">
            <span *ngIf="travelTime.touched && (travelTime.errors?.pattern);"
                   class="inline-icon error">
                   <span>Oops! Only numerical values, "." and ":" are allowed.</span>!
            </span>
        </div>
    </div>
</footer>