<header id="header">
	<a href="javascript:void(0)"><i name="auslanLogo" class="icons icons-logo"></i></a>

	<nav *ngIf="userIsActive">
		<a id="lnkBooking" *ngIf="canShowLink('booking-management')" [ngClass]="{'active':isActiveLink(linkName.booking)}" (click)="setActiveLink(linkName.booking)" [routerLink]="['/booking-management']"><span><i class="icon-bookings"></i> BOOKINGS</span></a>
	</nav>

	<a *ngIf="userIsActive && canShowLink('create-booking')" id="lnkNewBooking" [ngClass]="{'active':isActiveLink(linkName.booking)}" (click)="setActiveLink(linkName.booking)" class="button" [routerLink]="['/booking-management','create-booking']">+ New Booking</a>

	<section *ngIf="userIsActive">
		<ul class="dropdown menu click-handler" data-disable-hover="true" data-click-open="true" data-dropdown-menu="" onclick="this.classList.toggle('opened');">
			<li>
				<a class = "ImgSize" id="lnkProfile" [ngClass]="{'active':isActiveLink(linkName.profile)}"
				   (click)="setActiveLink(linkName.profile)">
					<img src={{getPicturePath()}}>{{fullName}}</a>
				<ul class="menu">
					<li><a id="lnkProfile1" [ngClass]="{'active':isActiveLink(linkName.profile)}" (click)="setActiveLink(linkName.profile)" [routerLink]="['user-management','profile']"><i class="icon-user"></i> Profile</a></li>
					<li><a id="lnkSettings" *ngIf="canShowLink('user-management')" [ngClass]="{'active':isActiveLink(linkName.usermanagement)}" (click)="setActiveLink(linkName.usermanagement)" [routerLink]="['user-management']"><i class="icon-settings"></i> Settings</a></li>
					<li><a id="lnkLogout" [routerLink]="['/authenticate','logout']"><i class="icon-logout"></i> Log Out</a></li>
				</ul>
			</li>
		</ul>
	</section>
</header>
