<main>
    <section class="jobs withOffset">
        <table id="jobs-responsive" class="custom">
            <thead>
            <tr>
                <th width="4%">
                    <div class="checkbox">
                        <input type="checkbox" name="" value="1" id="job-1">
                        <label for="job-1"></label>
                    </div>
                </th>
                <th width="5%">
                    <span class="order" [ngClass]="getSortOrder('job')" (click)="sort('job')">Job</span>
                    <form #filterByBookingIds="ngForm" class="common-form compact"
                          (ngSubmit)="filter('booking_ids', filterByBookingIds.value.booking_ids)" novalidate>
                        <input type="text" name="booking_ids" (blur)="filter('booking_ids', filterByBookingIds.value.booking_ids)"  [(ngModel)]="bookingFilter.booking_ids">
                    </form>
                </th>
                <th width="7%">
                    <span class="order" [ngClass]="getSortOrder('booking_status')" (click)="sort('booking_status')">Status</span>
                    <ul class="dropdown menu custom" id="booking-status" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">{{underScoreToSpaces(filterStatus())}}</a>
                            <ul class="menu smaller">
                                <li *ngFor="let status of statusList()">
                                    <a href="javascript:void(0)" (click)="filter('booking_status', status)"><i></i>{{underScoreToSpaces(status)}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </th>
                <th>
                    <span class="order" [ngClass]="getSortOrder('state')" (click)="sort('state')">State</span>
                    <ul class="dropdown menu custom" id="booking-state" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">{{underScoreToSpaces(bookingFilter.state)}}</a>
                            <ul class="menu smaller">
                                <li *ngFor="let state of stateList()">
                                    <a href="javascript:void(0)" (click)="filter('state', state)"><i></i>{{underScoreToSpaces(state)}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </th>
                <th width="23%">
                    <span class="order"
                          [ngClass]="getSortOrder('start_time')"
                          (click)="sort('start_time')">Date</span>
                    <div class="oneRow">
                        <span>From:</span>
                        <input type="date" name="date_from" [(ngModel)]="bookingFilter.date_from"
                               (blur)="filter('date_from', bookingFilter.date_from)"
                               (keyup.enter)="filter('date_from', bookingFilter.date_from)">
                    </div>
                    <div class="oneRow">
                        <span>To:</span>
                        <input type="date" name="date_to" [(ngModel)]="bookingFilter.date_to"
                        (blur)="filter('date_to', bookingFilter.date_to)"
                        (keyup.enter)="filter('date_to', bookingFilter.date_to)">
                    </div>
                </th>

                <th>
                    <span class="order"
                          [ngClass]="getSortOrder('organisation')"
                          (click)="sort('organisation')">Org</span>
                    <form #filterByOrg="ngForm" class="common-form compact"
                          (ngSubmit)="filter('organisation', filterByOrg.value.organisation)" novalidate>
                        <input type="text" name="organisation" (blur)="filter('organisation', filterByOrg.value.organisation)" [(ngModel)]="bookingFilter.organisation">
                    </form>
                </th>
                <th>
                    <span class="order"
                          [ngClass]="getSortOrder('booking_client')"
                          (click)="sort('booking_client')">Client</span>
                    <form #filterByClientName="ngForm" class="common-form compact"
                          (ngSubmit)="filter('client_name', filterByClientName.value.client_name)" novalidate>
                        <input type="text" name="client_name" (blur)="filter('client_name', filterByClientName.value.client_name)" [(ngModel)]="bookingFilter.client_name">
                    </form>
                </th>
                <th>
                    <span class="order"
                          [ngClass]="getSortOrder('suburb')"
                          (click)="sort('suburb')">Suburb</span>
                    <form #filterBySuburb="ngForm" class="common-form compact"
                          (ngSubmit)="filter('suburb', filterBySuburb.value.suburb)" novalidate>
                        <input type="text" name="suburb" (blur) = "filter('suburb', filterBySuburb.value.suburb)" [(ngModel)]="bookingFilter.suburb">
                    </form>
                </th>
                <th width="10%">
                    <span class="order" [ngClass]="getSortOrder('interpreter')" (click)="sort('interpreter')">Interpreter</span>
                    <form #filterByInterpreter="ngForm" class="common-form compact"
                          (ngSubmit)="filter('interpreter', filterByInterpreter.value.interpreter_name)" novalidate>
                        <input type="text" name="interpreter_name"  (blur) ="filter('interpreter', filterByInterpreter.value.interpreter_name)" [(ngModel)]="bookingFilter.interpreter_name">
                    </form>
                </th>
                <th width="10%">
                    <span class="order" [ngClass]="getSortOrder('booking_type')" (click)="sort('booking_type')">Nature</span>
                    <ul class="dropdown menu custom" id="booking-type" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">{{underScoreToSpaces(bookingFilter.booking_type)}}</a>
                            <ul class="menu smaller">
                                <li *ngFor="let booking_type of assignmentCategoryList()">
                                    <a href="javascript:void(0)" (click)="filter('booking_type', booking_type)"><i></i>{{underScoreToSpaces(booking_type)}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </th>
                <th>
                    <span class="order" [ngClass]="getSortOrder('method_type')" (click)="sort('method_type')">Method</span>
                    <ul class="dropdown menu custom" id="method" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">{{filterMethodType(bookingFilter.method_type)}}</a>
                            <ul class="menu smaller">
                                <li *ngFor="let method_type of bookingMethodTypes()">
                                    <a href="javascript:void(0)" (click)="filter('method_type', method_type)"><i></i>{{filterMethodType(method_type)}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </th>
                <th>
                    <span class="order" [ngClass]="getSortOrder('service_type')" (click)="sort('service_type')">Service Type</span>
                    <ul class="dropdown menu custom" id="service-type" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)">{{underScoreToSpaces(bookingFilter.service_type)}}</a>
                            <ul class="menu smaller">
                                <li *ngFor="let service_type of bookingServiceTypes()">
                                    <a href="javascript:void(0)" (click)="filter('service_type', service_type)"><i></i>{{service_type}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </th>
                <!-- th>
                    <span class="order asc">Updated</span>
                </th -->
                <th *ngIf="isCurrentUserAllowed()" width="7%">
                    <span>Actions</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr [ngClass]="{'active': isSelectedBooking(booking.id)}"
                *ngFor="let booking of bookingList | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalItems } let i = index"
                (click)="setClickedRow(booking)">
                <td>
                    <div class="checkbox">
                        <input type="checkbox" name="" value="1" id="job-2">
                        <label for="job-2"></label>
                    </div>
                </td>
                <td class="bookingID">
                    <div class="actions-container">
                        <span>{{booking.id | PrettyID}}</span>
                        <span class="linkId"
                              id="{{'linkId_'+i}}"
                              (click)="linkIdClicked('#'+booking.link_id); $event.stopPropagation();"
                              *ngIf="isCurrentUserAdminOrBookingOfficer() && !!booking.link_id">
                            <a>#{{booking.link_id}}</a>
                        </span>
                        <ul class="dropdown menu custom actions hidden-desktop" data-dropdown-menu>
                            <li>
                                <a href="javascript:void(0)"><i class="icon-more-icon"></i></a>
                                <ul class="menu right-side green">
                                    <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i
                                            class="icon-check-mobile"></i> Accept</a></li>
                                    <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i
                                            class="icon-help"></i> Tentative</a></li>
                                    <li><a [routerLink]="['/booking-management/' + booking.id + '/job-detail']"><i
                                            class="icon-decline"></i> Decline</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </td>
                <td class="text-center">
                    <i class="status"
                       [ngClass]="{'icon-small icon-small-green': booking.status === 'green', 'icon-small icon-small-red': booking.status === 'red', 'icon-small icon-small-yellow': booking.status === 'orange'}">
                    </i>
                </td>
                <td style="text-transform: capitalize">{{stateToString(booking.state)}}</td>
                <td>
                    <div class="job-date">
                        <span>
                            <i class="icon-time hidden-desktop"></i>
                            <span>
                                <span>
                                    {{booking.venue.start_time_iso | timeShort : booking.venue.state : booking.venue.post_code}} -
                                    {{booking.venue.end_time_iso | timeShort : booking.venue.state : booking.venue.post_code}}
                                </span>
                                <span>
                                    {{booking.venue.start_time_iso | date:'EEE d MMM yy'}}
                                </span>
                            </span>
                        </span>
                        <i *ngIf="isCurrentUserInvitedInterpreter(booking.interpreters)" class="icon-requested"></i>
                    </div>
                </td>
                <td>{{booking.client.organisation_name}}</td>
                <td>
                    {{booking.deaf_person.first_name +
                    ' ' +
                    booking.deaf_person.last_name}}
                </td>
                <td>{{booking.venue.suburb}}</td>
                <td class="truncated-text">
                    <ng-container *ngIf="booking.interpreters_required <= 2 && didInterpreterAccepted(booking.interpreters).length > 0 ;">
                        <span *ngFor="let user of didInterpreterAccepted(booking.interpreters)">
                                    <strong *ngIf="isCurrentUser(user.id); else sim_user_Block">
                                        {{user?.first_name  + ' ' + user?.last_name}}
                                    </strong>
                                    <ng-template #sim_user_Block>
                                        {{user?.first_name  + ' ' + user?.last_name[0] + '.'}}
                                    </ng-template>
									<br/>
								</span>
                    </ng-container>

                    <span *ngIf="booking.interpreters_required >= 3 && booking.interpreters_required != didInterpreterAccepted(booking.interpreters).length ;">Needs to be filled ({{didInterpreterAccepted(booking.interpreters).length }}/{{booking.interpreters_required}})</span>
                    <span *ngIf="booking.interpreters_required >= 3 && booking.interpreters_required == didInterpreterAccepted(booking.interpreters).length ;">Multiple ({{didInterpreterAccepted(booking.interpreters).length}}/{{booking.interpreters_required}})</span>
                    <span *ngIf="booking.interpreters_required == 2 && didInterpreterAccepted(booking.interpreters).length == 1 ;"><br/>To be filled </span>
                    <span *ngIf="booking.interpreters_required == 2 && didInterpreterAccepted(booking.interpreters).length < 1 ;">To be filled<br/>To be filled </span>
                    <span *ngIf="booking.interpreters_required == 1 && didInterpreterAccepted(booking.interpreters).length < 1 ;">To be filled </span>
                    
                </td>
                <td class="truncated-text">
                    <ng-container *ngIf="booking.documents_attributes.length > 0">
                        <a href="javascript:void(0)" class="attach"><i class="icon-attach"></i></a>
                    </ng-container>
                    {{booking.raw_nature_of_appointment}}
                </td>
                <td>{{booking.method_name}}</td>
                <td>{{booking.service_type}}</td>
                <!-- td><span class="underline">02-06 TS<br>7:15 A</span></td -->

                <td *ngIf="isCurrentUserAllowed()">
                    <ul class="dropdown menu custom actions" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-more-icon"></i></a>
                            <ul class="menu right-side green">
                                <li>
                                    <a [routerLink]="['/booking-management/' + booking.id + '/job-detail']">
                                        <i class="icon-check-mobile"></i>
                                        Accept
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/booking-management/' + booking.id + '/job-detail']">
                                        <i class="icon-help"></i>
                                        Tentative
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="['/booking-management/' + booking.id + '/job-detail']">
                                        <i class="icon-decline"></i>
                                        Decline
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div class="element element_inline" id="displayTxt" *ngIf="totalItems > 0">
                {{'Displaying ' + (((p - 1) * 10) + 1) + ' - '
                + ( bookingList.length < 10 ? totalItems : (p * 10)) + ' of ' + totalItems + ' Booking' +
                (bookingList.length > 1 ? 's' : '')}}
            </div>
            <div class="element element_inline">
                <pagination-controls class="my-pagination" *ngIf="totalItems >= 10"
                                     (pageChange)="getPage($event)"></pagination-controls>
            </div>
        </div>
    </section>
</main>
