<div class="md-dialog">
	<md-dialog-content>
		<header>
			<h1>{{ title }}</h1>
			<button (click)="closeDialog(closeVal)" name='cancel-popup'><i class="icon-close"></i></button>
		</header>
		<main>
			<div>
				<p>{{popupMessage}}</p>
			</div>
		</main>
	</md-dialog-content>

	<div>
		<md-dialog-actions>
			<button name="yesBtn" (click)="closeDialog(true)" class="button"> {{okTitle}} </button>
			<button name="noBtn"  (click)="closeDialog(false)" class="button red"> {{cancelTitle}} </button>
		</md-dialog-actions>
	</div>
</div>
