<section class="page-white-bg" style="padding-left: 100px;">
<form class="common-form" #resetForm="ngForm">

		<div class="row small-collapse">
			<div class="medium-9 medium-centered columns">
				<div class="heading">
					<h1 class="title">VERIFY CODE FORM</h1>
					<p class="subtitle">Thank you for signing up.</p><p> For security purposes, we have sent a verification code to your email address. <p><p><b>Please check your email and fill in the code. </b></p>
				</div>
			</div>
			<div class="medium-4 medium-centered columns">
				<div class="form-field">
					<label>VERIFICATION CODE * </label> <input type="password" placeholder="" [(ngModel)]='verificationCode' name="verification_code"
					 #verification_code="ngModel" [rangeLength]="[4, 8]" required>
					<span *ngIf="verification_code.touched && (!verification_code.errors?.required && !verification_code.errors?.rangeLength);"
					 class="inline-icon inline-icon-valid valid"></span>
					<span *ngIf="(verification_code.dirty || verification_code.touched) && (verification_code.errors?.required || verification_code.errors?.rangeLength);"
					 class="inline-icon error"> <span>This field is
								required.</span>!
					</span>
				</div>

			</div>


			<div class="medium-8 medium-centered columns">
				<div class="form-field">
					<section id="page-common">
						<section id="static-flow">
							<section id="submenu">
								<div>
									<button name="verify_user" class="login button" [disabled]="verification_code.errors" (click)="verifyUser()">
					Verify User</button>

									<button name="resend_code" class="login button" [disabled]="(userID < 1)" (click)="resendVerificationCode()">Resend Verification
					Code</button>
								</div>
							</section>
						</section>
					</section>
				</div>
			</div>

		</div>


	</form>
</section>