<main>
    <h1>ALL USERS</h1>
    <section class="users" *ngIf="userList?.length > 0">
        <table class="custom">
            <thead>
            <tr>

                <th width="11%">
                    <span class=" asc">First Name</span>
                    <!--<input type="text" name="first_name">-->
                </th>
                <th width="11%">
                    <span class=" asc">Last Name</span>
                    <!--<input type="text" name="last_name">-->
                </th>
                <th width="10%">
                    <span class=" asc">Type</span>
                    <!--<ul class="dropdown menu custom" data-dropdown-menu>-->
                    <!--<li>-->
                    <!--<a href="#">All</a>-->
                    <!--<ul class="menu smaller">-->
                    <!--<li><a href="#"><i></i> Auslan </a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--</ul>-->
                </th>
                <th width="15%">
                    <span class=" desc">Organisation</span>
                    <!--<input type="text" name="organisation">-->
                </th>
                <th width="15%">
                    <span class=" desc">Email</span>
                    <!--<input type="text" name="email">-->
                </th>
                <th width="8%">
                    <span class=" asc">Mobile</span>
                    <!--<input type="text" name="mobile">-->
                </th>
                <th width="8%">
                    <span class=" asc">Status</span>
                    <!--<ul class="dropdown menu custom" data-dropdown-menu>-->
                    <!--<li>-->
                    <!--<a href="#">All</a>-->
                    <!--<ul class="menu smaller">-->
                    <!--<li ><a><i></i> Active </a></li>-->
                    <!--<li><a><i></i>  Disabled </a></li>-->
                    <!--<li><a><i></i>  Unverified</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <!--</ul>-->
                </th>

                <th width="9%">
                    <span>Actions</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of userList | paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalItems }">

                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td class="truncated-text">{{ user.type | spacer}}</td>
                <td> {{isUserOrOrgrep(user) ? user.organisation_attributes.name : 'Auslan'}}</td>
                <td class="truncated-text">
                    <a href="mailto:{{user.email}}">{{user.email}}</a>
                </td>
                <td class="truncated-text">{{user.mobile}}</td>
                <td [ngClass]="{'active':user.verified}">{{ user.disabled ? 'Disabled' : !user.verified ? 'Unverified' :
                    'Active' }}
                </td>

                <td *ngIf="canEditLink('user-management',user.type)">
                    <ul class="dropdown menu custom actions" data-dropdown-menu>
                        <li>
                            <a href="javascript:void(0)"><i class="icon-actions"></i></a>
                            <ul class="menu right-side green">
                                <li>
                                    <a name="lnkEditUser" [routerLink]="['/init']" [queryParams]="{selectedRole:getQueryableRole(user),uid:user.id, edit_user:
												stringifyUser(user)}">
                                        <i class="icon-edit"></i> Edit</a></li>
                                <li *ngIf="isUserInterpreter(user)">
                                    <a id="lnkProfileSkill"
                                       [routerLink]="['/user-management/' + user.id +'/skills']"><i
                                            class="icon-skill-matrix"></i> Skill Matrix</a></li>
                                <li *ngIf="isUserOrOrgrep(user)">
                                    <a id="lnkDuplicateOrgRep"
                                       [routerLink]="['/init']" [queryParams]="{selectedRole:getQueryableRole(user) ,uid:user.id,
                                       isduplicate:'true', edit_user:
												stringifyUser(user)}">
                                        <i class="icon-duplicate-orgrep icon-glass"></i> Duplicate </a></li>
                                <li><a (click)="onResetPassword(user)"><i class="icon-reset-password"></i> Reset
                                    password</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div class="element element_inline" id="displayTxt" *ngIf="totalItems > 0">{{'Displaying ' + (((p - 1) * 10)
                + 1) + ' - '
                + ( userList.length < 10 ? totalItems : (p * 10)) + ' of ' + totalItems + ' User' + (userList.length > 1
                ? 's' : '')}}
            </div>
            <div class="element element_inline">

                <pagination-controls class="my-pagination" *ngIf="totalItems >= 10"
                                     (pageChange)="getPage($event)"></pagination-controls>
            </div>
        </div>
    </section>
</main>
