<header id="header-mobile">
    <button [routerLink]="['/booking-management']" class="icon-back"></button>
    <h1 *ngIf="!jobAccessError">JOB #{{selectedBookingModel.id | PrettyID}}</h1>
</header>

<ng-container *ngIf="!jobAccessError">
    <section id="page-common">
        <app-booking-header [bookingModel]="selectedBookingModel"
                            [hasLinkId]="!!selectedBookingModel.link_id"
                            [isCancelOrUnable]="isCancelledOrUnableToServe"
                            [invitePress]="invitePressed"
                            [unAssignPress]="unAssignPressed"
                            [reAssignPress]="reAssignPressed"
                            [unlinkPress]="unlinkPressed"
                            [showButtons]="true"
                            [disableReject]="disableReject"
                            [disableAccept]="disableAccept">
        </app-booking-header>

        <div class="job-status">
            <span [ngClass]="{'status-accepted': stateStr === 'IN PROGRESS - Accepted',
                             'status-invited': stateStr === 'IN PROGRESS - Invited',
                             'status-declined': stateStr === 'IN PROGRESS - Rejected',
                             'status-tentative': stateStr === 'IN PROGRESS - Tentative',
                             'status-allocated': stateStr === 'ALLOCATED'}">
                {{stateStr}}
                <i class="icon-requested"></i>
            </span>
        </div>

        <section id="job-booking">
            <main>
                <app-booking-info [selectedBookingModel]="selectedBookingModel"></app-booking-info>
                <ng-container *ngIf="anyInterpreterAccepted()">
                    <div class="manage-interpreters-wrapper">
                        <section name="manage-interpreters-a" class="manage-interpreters">
                            <section>
                                <ng-container
                                        *ngFor="let interpreter of selectedBookingModel.interpreters; let i=index">
                                    <div *ngIf="i < selectedBookingModel.interpreters_required">
                                        <b>Interpreter {{i + 1}} :</b>
                                        <span *ngIf="interpreter.state === 'Accepted'" class='interpreter-accepted'>{{interpreter.first_name}} {{interpreter.last_name}}</span>
                                        <span *ngIf="interpreter.state !== 'Accepted'">To be filled</span>
                                        <button name="{{'unassingBtn_' + +(i + 1)}}"
                                                (click)="unAssignInterpreters(interpreter.id)"
                                                *ngIf="!isCurrentUserInterpreter() && (false === isActiveState('Unable_to_service') && false === isActiveState('Cancelled_no_charge')) && interpreter.state === 'Accepted'">
                                            Unassign
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="(selectedBookingModel.interpreters_required - selectedBookingModel.interpreters.length) > 0">
                                    <ng-container *ngFor="let numb of counter(selectedBookingModel.interpreters_required - selectedBookingModel.interpreters.length ); let ii=index">
                                        <ng-container *ngIf="ii < (selectedBookingModel.interpreters_required - selectedBookingModel.interpreters.length)">
                                            <div>
                                                <strong>
                                                    Interpreter {{selectedBookingModel.interpreters.length + ii + 1}} :
                                                </strong>
                                                <span>To be filled</span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </section>
                        </section>
                    </div>
                </ng-container>
                <ng-container *ngIf="!anyInterpreterAccepted() && !isCurrentUserInterpreter()">
                    <div class="manage-interpreters-wrapper">
                        <section name="manage-interpreters-b"  class="manage-interpreters">
                            <section>
                                <div *ngFor="let numb of counter(selectedBookingModel.interpreters_required); let i=index">
                                    <b>Interpreter {{i + 1}} :</b>
                                    <span>To be filled</span>
                                </div>
                            </section>
                        </section>
                    </div>
                </ng-container>
                <section class="columns small-padding">
                    <ng-container *ngIf="anyInterpreterAccepted()">
                        <ng-container *ngFor="let interpreter of selectedBookingModel.interpreters; let i=index">
                            <ng-container *ngIf="i < selectedBookingModel.interpreters_required">
                                <div *ngIf="interpreter.state === 'Accepted'"
                                     class="row with-border">
                                    <div>
                                        INTERPRETER {{i + 1}}
                                    </div>
                                    <span class="with-avatar">
                                        <img class="img-circle" src="{{interpreter.photo_url}}" alt="">
                                        {{interpreter.first_name}} {{interpreter.last_name}}
                                    </span>
                                </div>
                                <div *ngIf="interpreter.state !== 'Accepted'"
                                     class="row with-border">
                                    <div> INTERPRETER {{i + 1}}</div>
                                    <span>To be filled</span>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container
                                *ngIf="(selectedBookingModel.interpreters_required - selectedBookingModel.interpreters.length) > 0">
                            <ng-container
                                    *ngFor="let numb of counter(selectedBookingModel.interpreters_required - selectedBookingModel.interpreters.length ); let ii=index">
                                <ng-container
                                        *ngIf="ii < (selectedBookingModel.interpreters_required - selectedBookingModel.interpreters.length)">
                                    <div class="row with-border">
                                        <div> INTERPRETER {{selectedBookingModel.interpreters.length + ii + 1}}</div>
                                        <span>To be filled</span>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!anyInterpreterAccepted()">
                        <ng-container
                                *ngFor="let numb of counter(selectedBookingModel.interpreters_required); let i=index">
                            <ng-container *ngIf="i < selectedBookingModel.interpreters_required">
                                <div class="row with-border">
                                    <div> INTERPRETER {{i + 1}}</div>
                                    <span>To be filled</span>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <div *ngIf="(selectedBookingModel.notes) && selectedBookingModel.notes.length > 0 && isCurrentUserInterpreter()"
                         class="row">
                        <span>DESCRIPTION</span>
                    </div>
                    <p *ngIf="isCurrentUserInterpreter()">{{selectedBookingModel.notes}}</p>
                    <div class="row"
                         *ngIf="selectedBookingModel.documents_attributes.length > 0 && isCurrentUserInterpreter()">
                        <span>ATTACHMENTS</span>
                    </div>
                    <div *ngIf="selectedBookingModel.documents_attributes.length > 0 && isCurrentUserInterpreter()">
                        <ul class="attachments" *ngIf="selectedBookingModel.documents_attributes.length > 0">
                            <li *ngFor="let attachment of selectedBookingModel.documents_attributes">
                                <a download href="{{attachment.url}}">
                                    <i class="icon-attach"></i>
                                </a>
                                <span>{{attachment.file_name}}</span>
                            </li>
                        </ul>
                    </div>
                    <ng-container *ngIf="showActions()" >
                    <div class="row" *ngIf="isCurrentUserInterpreter()">
                        <span>DO YOU WANT TO DO THIS JOB?</span>
                    </div>
                    <div class="manage-job-buttons" *ngIf="isCurrentUserInterpreter()">
                        <button class="button button-accept"
                                [ngClass]="isCurrentUserState('Accepted') ? 'button pushed button-accept' : 'button button-accept'"
                                (click)="!disableAccept && showDialogBoxInterpreter(false)">
                            <i class="icon-check-mobile"></i>
                        </button>

                        <button class="button button-decline"
                                [ngClass]="isCurrentUserState('Rejected') ? 'button pushed button-decline' : 'button button-decline'"
                                (click)="!disableReject && showDialogBoxInterpreter(true)">
                            <i class="icon-decline"></i>
                        </button>
                    </div>
                    </ng-container>
                </section>
            <ng-container *ngIf="isCurrentUserAdminOrBookingOfficer() && isRequestedProgressOrAllocated">
                <h2>
                    Invite Interpreters
                    <button class="outside"></button>
                </h2>
                <section id="invite-interpreters">
                    <section id="filters">
                        <section class="search-bar" style="width:150%">
                            <form #filterBySearch="ngForm" class="common-form compact" (ngSubmit)="search()" novalidate>
                                <input type="text" name="search" id="search" (blur)="search()" [(ngModel)]="searchParams" (click)="'' !== searchParams && clearSearch()" placeholder="Search...">
                            </form>
                            <button>
                                <i (click)="search()" class="icon-glass"></i>
                            </button>
                        </section>
                        <section class="filters">

                            <div class="separator"></div>

                            <button *ngIf="!hideInvite" class="button active" name='inviteBtn' (click)="inviteInterpreters()">
                                <i class="icon-shape"></i> Invite
                            </button>
                            <button *ngIf="!hideAccept" class="button red" (click)="reAssignInterpreters()" name="reassingBtn">
                                <i class="icon-assign"></i> Assign
                            </button>
                        </section>
                    </section>
                </section>

                <section id="invited-interpreters"  class="interpreters-list">
                    <section class="section-left">
                        <table class="custom custom-small-table">
                            <thead>
                            <tr>
                                <th width="10%">
                                </th>
                                <th width="12%">
                                    <span class="">Status</span>
                                </th>
                                <th width="17%">
                                    <span class="order" [ngClass]="getSortOrder('first_name')" (click)="sortInterpreters('first_name')">First Name</span>
                                    <form #filterByFirstName="ngForm" class="common-form compact"
                                          (ngSubmit)="filterInterpreters('first_name', filterByFirstName.value.first_name)" novalidate>
                                        <input type="text" name="first_name" (blur)="filterInterpreters('first_name', filterByFirstName.value.first_name)"
                                               [(ngModel)]="interpreterFilter.first_name">
                                    </form>
                                </th>
                                <th width="17%">
                                    <span class="order" [ngClass]="getSortOrder('last_name')" (click)="sortInterpreters('last_name')">Last Name</span>
                                    <form #filterByLastName="ngForm" class="common-form compact"
                                          (ngSubmit)="filterInterpreters('last_name', filterByLastName.value.last_name)" novalidate>
                                        <input type="text" name="last_name" (blur)="filterInterpreters('last_name', filterByLastName.value.last_name)"
                                               [(ngModel)]="interpreterFilter.last_name">
                                    </form>
                                </th>
                                <th width="9%">
                                    <span class="">Role</span>
                                </th>
                                <th width="9%">
                                    <span class="order" [ngClass]="getSortOrder('skill_level')" (click)="sortInterpreters('skill_level')">Lvl</span>
                                    <ul class="dropdown menu custom" id="skill-level" data-dropdown-menu>
                                        <li>
                                            <a href="javascript:void(0)">{{underScoreToSpaces(filterSkillLevel())}}</a>
                                            <ul class="menu smaller">
                                                <li *ngFor="let skill_level of skillLevelList()">
                                                    <a href="javascript:void(0)" (click)="filterInterpreters('skill_level', skill_level)"><i></i>{{underScoreToSpaces(skill_level)}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </th>
                                <th width="15%">
                                    <span class="order" [ngClass]="getSortOrder('suburb')" (click)="sortInterpreters('suburb')">Suburb</span>
                                    <form #filterBySuburb="ngForm" class="common-form compact"
                                          (ngSubmit)="filterInterpreters('suburb', filterBySuburb.value.suburb)" novalidate>
                                        <input type="text" name="suburb" (blur)="filterInterpreters('suburb', filterBySuburb.value.suburb)"
                                               [(ngModel)]="interpreterFilter.suburb">
                                    </form>
                                </th>
                                <th width="9%">
                                    <span class="order" [ngClass]="getSortOrder('distance')" (click)="sortInterpreters('distance')">Km</span>
                                </th>
                                <th width="9%">
                                    <span>Pay Travel</span>
                                    <ul class="dropdown menu custom" id="travel-pay-status" data-dropdown-menu>
                                        <li>
                                            <a href="javascript:void(0)">{{underScoreToSpaces(filterPayStatus())}}</a>
                                            <ul class="menu smaller">
                                                <li *ngFor="let pay_status of travelPayStatuses()">
                                                    <a href="javascript:void(0)" (click)="filterInterpreters('travel_pay_status', pay_status)"><i></i>{{underScoreToSpaces(pay_status)}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </th>
                                <th width="9%">
                                    <span class="">Notes</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let user of interpreterList | paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems: totalItems } let ind = index">
                                <td width="10%">
                                    <md-checkbox name='{{"Check" + ind}}'
                                                 [checked]="checkList[ind]===true"
                                                 (change)="onChange($event,user, ind)">
                                    </md-checkbox>
                                </td>
                                <td align="center">
                                    <img [src]="getInterpreterIconClass(user)">

                                </td>
                                <td>
                                    <i class="icon-requested preff-icon" *ngIf="isPreferred(user.id)"></i>
                                    <a name="lnkEditUser" [routerLink]="['/init']" [queryParams]="{selectedRole:'INTERPRETER',uid:user.id, edit_user:
                                                    stringifyUser(user)}"> {{user.first_name}} </a>

                                </td>
                                <td>
                                    <a name="lnkEditUser" [routerLink]="['/init']" [queryParams]="{selectedRole:'INTERPRETER',uid:user.id, edit_user:
                                                    stringifyUser(user)}"> {{user.last_name}} </a>

                                </td>
                                <td>{{isStaff(user) ? 'S' : 'C'}}</td>
                                <td class="truncated-text">{{user.skill_level}}</td>
                                <td class="truncated-text">{{getSuburb(user)}}</td>
                                <td>{{user.distance}}</td>
                                <td>{{ travelPayStatus(user)}}</td>
                                <td class="truncated-text" [title]="user.booking_office_notes">{{user.booking_office_notes}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination">
                            <div class="element element_inline ui-grid-col-6 left text-left" id="displayTxt" *ngIf="totalItems > 0">
                                {{'Displaying ' + (((currentPage - 1) * 20) + 1) + ' - '
                                + ( interpreterList.length < 20 ? totalItems : (currentPage * 20)) + ' of ' + totalItems + ' Interpreter' +
                                (interpreterList.length > 1 ? 's' : '')}}
                            </div>
                            <div class="element element_inline ui-grid-col-6 right text-right">
                                <pagination-controls class="my-pagination" *ngIf="totalItems >= 10"
                                                     (pageChange)="getPage($event)"></pagination-controls>
                            </div>
                        </div>
                    </section>

                    <section *ngIf="showCalendar">
                        <section id="time">{{ startTime | date}} {{ startTime | date:'shortTime'}} - {{ endTime | date:'shortTime'}}</section>
                        <section>
                            <section id="time-range">
                                <button type="button">&lt;</button>
                                <section>
                                    <span *ngFor="let t of getTimelineStartTime()">{{t}}</span>
                                </section>
                                <button type="button">&gt;</button>
                            </section>
                            <section class="flow">
                                <div *ngFor="let inte of interpreterList ">
                                    <section>
                                        <ng-container *ngFor="let avail_block of inte.availability_blocks_attributes">
                                            <ng-container *ngIf="getTimelineBlockoutStyle(avail_block).length > 2">
                                                <span class="{{getTimelineBlockoutStyle(avail_block)}}"></span>
                                            </ng-container>
                                        </ng-container>
                                    </section>
                                </div>
                            </section>
                            <div id="mover">
                                <div class="{{getTimelineMoverStyle()}}"></div>
                            </div>
                        </section>
                    </section>
                </section>
            </ng-container>
                <ng-container *ngIf='!isCurrentUserInterpreter()'>
                    <h2 class="hidden-mobile">History</h2>
                    <table id="changes-history" class="custom-small-table">
                        <thead>
                        <th width="20%">Date and Time</th>
                        <th width="30%">Action</th>
                        <th>Changes</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let version of selectedBookingModel.versions; let i=index">
                            <td name="data_created_at">
                                {{version.created_at_iso | date:'shortTime'}} on
                                {{version.created_at_iso | date:'EEE d MMM yy'}}
                            </td>
                            <td>
                                <img height="40px" width="40px" src="{{version.photo_url}}" alt="">
                                <span name="data_action">
                                    {{version.booking_event_formatted()}}
                                    <br/>
                                    {{version.full_name()}}
                                </span>
                            </td>
                            <td>
                                <div name="data_changes">
                                    <div>
                                        <span style="font-style: oblique; font-weight: bolder">{{version.model}}</span>
                                    </div>
                                    <div *ngFor="let change_item_key of version.change_set_formatted_hash()">
                                        <b>{{change_item_key[0]}}: </b>{{change_item_key[1][0]}} <b>to</b> <span>{{change_item_key[1][1]}}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </ng-container>
            </main>
        </section>
    </section>
</ng-container>
<!-- Make this as a class-->
<ng-container *ngIf="jobAccessError">
    <div class="error" style="text-align: center;padding-top: 100px;">
        <span>
            <img src="../../../../assets/img/error-redcross.svg"/>
            <p>
                Sorry, you don't have access to this job.
            </p>
            <p>
                Contact Auslan if you think this is not right.
            </p>
        </span>
    </div>
</ng-container>
