<div>
    <header *ngIf="false === isUserLogin()" id="header">
        <a href="/"><i class="icons icons-logo"></i></a>
    </header>
    <section id="submenu" *ngIf="checkUserAdminORBookOfficer()">
       <section>
            <a id="TABStaffCalendar" [routerLink]="['/user-management/','staff_calendar']"> Staff Calender</a>
        </section>
    </section>
    <section id="page-signup-organisation">
        <section>
            <header>
                <h1>{{isUserLogin() === true ? isDuplicate ? 'DUPLICATE' : isEdit ? 'EDIT' : 'CREATE' : 'SIGN UP AS'}}
                    {{ selectedRole ===
                    'INDIVIDUALCLIENT' ? 'INDIVIDUAL CLIENT' : selectedRole ===
                    'BOOKINGOFFICER' ? 'BOOKING OFFICER' : selectedRole ===
                    'ORGANISATIONALREPRESENTATIVE' ? 'ORGANISATIONAL REPRESENTATIVE' : selectedRole ===
                    'ORGANISATION' ? 'ORGANISATIONAL REPRESENTATIVE' : selectedRole}}</h1>
                <p>Fields with * are required</p>
            </header>

            <form #registerForm="ngForm" class="common-form reduced-bottom">
                <div class="row small-collapse">
                    <div class="row-wrapper">
                        <div class="medium-6 columns">
                            <div class="form-field">
                                <label>FIRST NAME * </label>
                                <input type="text" class="inline-icon inline-icon-user-circle valid"
                                       placeholder="Enter your first name"
                                       [(ngModel)]="model.first_name"
                                       name="first_name"
                                       #first_name="ngModel" [rangeLength]="[2, 20]" required>
                                <span *ngIf="first_name.touched && !first_name.errors?.required && !first_name.errors?.rangeLength;"
                                      class="inline-icon inline-icon-valid valid"></span>
                                <span *ngIf="first_name.touched && (first_name.errors?.required || first_name.errors?.rangeLength);"
                                      class="inline-icon error">
											<span>Minimum 2 characters required.</span>!</span>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <div class="form-field">
                                <label>LAST NAME *</label>

                                <input type="text" class="inline-icon inline-icon-user-circle valid"
                                       placeholder="Enter your last name" [(ngModel)]="model.last_name" name="last_name"
                                       #last_name="ngModel" [rangeLength]="[2, 30]" required>
                                <span *ngIf="last_name.touched && !last_name.errors?.required && !last_name.errors?.rangeLength;"
                                      class="inline-icon inline-icon-valid valid"></span>
                                <span *ngIf="last_name.touched && (last_name.errors?.required || last_name.errors?.rangeLength);"
                                      class="inline-icon error">
													<span>Minimum 2 characters required.</span>!</span>
                            </div>
                        </div>
                        <ng-container *ngIf="false === isEdit || isDuplicate">
                            <div class="medium-6 columns">
                                <div class="form-field">
                                    <label class="icon-lock">
                                        PASSWORD *</label>
                                    <input id="pass1" type="password"
                                           placeholder="Enter your password"
                                           [(ngModel)]="model.password" name="password" #password="ngModel"
                                           [rangeLength]="[6, 30]"
                                           required>

                                    <span *ngIf="password.touched &&  (!password.errors?.required && password.errors?.rangeLength);"
                                          class="inline-icon inline-icon-valid valid"></span>
                                    <span *ngIf="password.touched && (password.errors?.required || password.errors?.rangeLength);"
                                          class="inline-icon error">
										<span>Minimum 6 characters required.</span>!</span>

                                </div>
                            </div>
                            <div class="medium-6 columns">
                                <div class="form-field">
                                    <label class="icon-lock">
                                        CONFIRM PASSWORD *</label>
                                    <input id="certainPassword" name="certainPassword" type="password"
                                           placeholder="Confirm password" [(ngModel)]="model.confirm_password"
                                           name="certainPassword" #certainPassword="ngModel" [equalTo]="password"
                                           required>
                                    <span *ngIf="certainPassword.touched && (!certainPassword.errors?.required && !certainPassword.errors?.equalTo);"
                                          class="inline-icon inline-icon-valid valid"></span>
                                    <span *ngIf="certainPassword.touched && (certainPassword.errors?.required || certainPassword.errors?.equalTo);"
                                          class="inline-icon error">
									<span>Minimum 6 characters required.</span>!</span>

                                </div>
                            </div>
                        </ng-container>
                        <div class="medium-6 columns">
                            <div class="form-field">
                                <label class="icon-email">
                                    EMAIL * </label>
                                <input type="email" id="email"
                                       placeholder="Enter your email"
                                       [(ngModel)]="model.email"
                                       name="email" #email="ngModel" email
                                       required>
                                <span *ngIf="email.touched && !email.errors?.email;"
                                      class="inline-icon inline-icon-valid valid"></span>
                                <span *ngIf="(email.dirty || email.touched) && (email.errors?.required || email.errors?.email);"
                                      class="inline-icon error">
										<span>Email is required</span>!</span>
                            </div>
                        </div>

                        <div class="medium-6 columns">
                            <div class="form-field">
                                <label class="icon-mobile">MOBILE PHONE *</label>
                                <input type="tel" placeholder="Enter your mobile"
                                       [(ngModel)]="model.mobile" name="mobile" #mobile="ngModel"
                                       [rangeLength]="[10, 11]"
                                       required>

                                <span *ngIf="mobile.touched && !mobile.errors?.required && !mobile.errors?.rangeLength;"
                                      class="inline-icon inline-icon-valid valid"></span>
                                <span *ngIf="mobile.touched && mobile.errors?.required  || mobile.errors?.rangeLength;"
                                      class="inline-icon error">
											<span>Minimum 10 digits required.</span>!</span>
                            </div>
                        </div>
                        <ng-container *ngIf="selectedRole === 'INDIVIDUALCLIENT' || selectedRole === 'ORGANISATION'">
                            <div class="medium-6 columns">
                                <div class="form-field">
                                    <label class="icon-mobile">PHONE * </label>
                                    <input type="tel" placeholder="Enter your phone" [(ngModel)]="model.phone"
                                           name="phone" #phone="ngModel" [rangeLength]="[10, 11]" required>

                                    <span *ngIf="phone.touched && !phone.errors?.required && !phone.errors?.rangeLength;"
                                          class="inline-icon inline-icon-valid valid"></span>
                                    <span *ngIf="phone.touched && phone.errors?.required  || phone.errors?.rangeLength;"
                                          class="inline-icon error">
											<span>Minimum 10 digits required.</span>!</span>
                                </div>
                            </div>
                        </ng-container>
                        <div [hidden]="false === isEdit || isDuplicate" class="medium-6 columns">
                            <div class="form-field">
                                <label>STATUS</label>
                                <select name="selStatus" [(ngModel)]="selectedStatus">
                                    <option *ngFor="let i of userStatusArray" [value]="i.name">{{i.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="medium-6 columns">
                            <div class="form-field">
                                <label>CHANGE PICTURE:</label>
                                <input type="file" id="filePicker" (change)="handleFileSelect($event)">

                            </div>
                        </div>
                        <div *ngIf="selectedRole !== 'BOOKINGOFFICER' && selectedRole !== 'ADMINISTRATOR'" class="medium-6 columns">
                            <div class="form-field">
                              <label>{{(selectedRole === 'INDIVIDUALCLIENT' || selectedRole === 'ORGANISATION') ? 'IN WHICH STATE WILL MOST OF YOUR BOOKINGS TAKE PLACE * ?' : 'WORK PREFERENCE *'}}</label>
                              <select aria-label="A"
                                      [(ngModel)]="model.state_where_most_bookings_occur" name="location_pref"
                                      #location_pref="ngModel" required>
                      
                                <option *ngFor="let loc_name of  ['ACT','NSW','QLD', 'TAS', 'VIC','WA', 'NT']"
                                        [value]="loc_name">{{loc_name.toUpperCase()}}</option>
                      
                              </select>
                              <span *ngIf="location_pref.touched && !location_pref.errors?.required && !location_pref.errors?.rangeLength;" class="inline-icon inline-icon-valid valid"></span>
                              <span *ngIf="location_pref.touched && (location_pref.errors?.required || location_pref.errors?.rangeLength);" class="inline-icon error">
                      
                              <span>This field is required.</span>!
                            </span>
                            </div>
                          </div>
                        <div *ngIf="checkUserAdminORBookOfficer()" class="medium-6 columns">
                            <div class="form-field">
                                <label>Staff/Casual</label>
                                <select aria-label="A" (change)="staffToCasualToggle()" [(ngModel)]="model.staff_to_casual_toggle" name="staff_to_casual" #staff_to_casual="ngModel"
                                    required>
                        
                                    <option *ngFor="let staff_casual_toggle of  ['staff','casual']" [value]="staff_casual_toggle">{{staff_casual_toggle.toUpperCase()}}</option>
                        
                                </select>
                                <span *ngIf="staff_to_casual.touched && !staff_to_casual.errors?.required && !staff_to_casual.errors?.rangeLength;" class="inline-icon inline-icon-valid valid"></span>
                                <span *ngIf="staff_to_casual.touched && (staff_to_casual.errors?.required || staff_to_casual.errors?.rangeLength);" class="inline-icon error">
                        
                                    <span>This field is required.</span>!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <app-org-rep [isDuplicate]="isDuplicate" [userModel]="model"
                [parentForm]="registerForm" #orgRepForm="ctOrgRepForm" *ngIf="selectedRole === 'ORGANISATION'"></app-org-rep> 
                <app-interpreter [displayCalendar]="isEdit && checkUserAdminORBookOfficer()"
                 [parentForm]="registerForm" #interpreterForm="ctInterpreterForm" [userModel]="model" [canCalculateDistance]="true"
                                 *ngIf="selectedRole === 'INTERPRETER'"></app-interpreter>
                <app-ind-client  [parentForm]="registerForm" [userModel]="model" *ngIf="selectedRole === 'INDIVIDUALCLIENT'"></app-ind-client>
                <br>


                <app-interpreter-box
                        [isReadOnly]="isDuplicate"
                        [isPreffered]="true"
                        [selectedInterpreters]="model.prefferedInterpreters"
                        [state_where_most_bookings_occur]="model.state_where_most_bookings_occur"
                        *ngIf="selectedRole === 'ORGANISATION' || selectedRole === 'INDIVIDUALCLIENT'"
                ></app-interpreter-box>
                <br>
                <app-interpreter-box
                        [isReadOnly]="isDuplicate"
                        [isPreffered]="false"
                        [selectedInterpreters]="model.prefferedInterpreters"
                        [state_where_most_bookings_occur]="model.state_where_most_bookings_occur"
                        *ngIf="selectedRole === 'ORGANISATION' || selectedRole === 'INDIVIDUALCLIENT'"
                ></app-interpreter-box>
                <br>
                <ng-container *ngIf="!isDuplicate">
                    <app-termandcondition (termAndConditionStatusChange)="tocChanged($event)"
                                          [termsAndConditionAccepted]="termsAndConditionAccepted"></app-termandcondition>
                </ng-container>
                <div align="center">
                    <button class="login button" name="register_user" type="submit"
                            (click)="applyChanges(registerForm)" class="button">{{isUserLogin() === true ? isDuplicate ?
                        'Duplicate' : isEdit ?
                        'Edit' : 'Create' : 'Register'}}
                    </button>
                </div>

            </form>
        </section>
    </section>
</div>
